.board-row {
  clear: both;
  content: "";
  display: flex;
}

.square-row {
  clear: both;
  content: "";
  display: flex;
}

.header {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: thin solid;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 34px;
}

.num {
  background: #fff;
  border: solid;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 34px;
}

.bigSquare{
  border: thin solid;
}

.board {
  border: solid;
}

.game {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 41%;
  width: 309px;
  text-align: center;
}

.nums {
  position: absolute;
  left: 1.5%;
  padding-top: 10px;
}

button{
  text-align: center;
}

